
<div class="row">
  <div class="large-6 columns">
  	<%= render "form" %>
  </div>
  <div class="large-6 columns">
 	<%= render :partial => "users/newform", :locals => {:user => new_user} %>
  </div>
</div>
