

<div class="home_carousel">

	<div class="your-class">
		
        
        <div><%= render "newform" %></div>
        <div>your content</div>
        <div></div>
	<button type="button" class="slick-prev">Previous</button>
		<button type="button" class="slick-next">Next</button>
	</div>
</div>
