<h1>Sign up</h1>

<div class="scarousel">

	<div class="your-class">
		<button type="button" class="slick-prev">Previous</button>
		<button type="button" class="slick-next">Next</button>
        
        <div><%= render "newform" %></div>
        <div>your content</div>
        <div></div>
	
	</div>
</div>
