<form name="postostForm" class="panel-body" novalidate>
	<div calss="row">
		<label>Title</label>
		<input type="text" name="postTitle" ng-model="currentPost.title" required>
		<small class="error"></small>
	</div>
	<div calss="row">
		<label>Field</label>
		<input type="text" name="postField" ng-model="currentPost.field">
	</div>


	<div calss="row">
		<div class="small-6 columns">
			<label>Start Date</label>
			<input type="date" name="postBeginDate" ng-model="currentPost.begin_date" required>
		</div>
		<div class="small-6 columns">
			<label>End Date</label>
			<input type="date" name="postEndDate" ng-model="currentPost.end_date" required>
		</div>
	</div>



	<div calss="row">
		<div class="small-6 columns">
			<label> # of participants</label>
			<input type="number" name="postParticipant" ng-model="currentPost.participants_wanted" required>
		</div>

		<div class="small-6 columns">
			<label>Gender</label>
			<input type="text" name="postGender" ng-model="currentPost.gender">
		</div>
	</div>

	<div calss="row">
		<label>Description</label>
		<input type="text" name="postDesciption" ng-model="currentPost.description">
	</div>
	<div calss="row">
		<label>Compensation</label>
		<input type="text" name="postCompensation" ng-model="currentPost.compensation">
	</div>

	<div calss="row">
		<div class="small-4 columns">
			<label>Time</label>
			<input type="number" name="postTimeNeeded" ng-model="currentPost.time_needed">
		</div>

		<div class="small-4 columns">
			<label>Min. Age</label>
			<input type="number" name="postMinAge" ng-model="currentPost.min_age">
		</div>

		<div class="small-4 columns">
			<label>Max. Age</label>
			<input type="number" name="postMaxAge" ng-model="currentPost.max_age">
		</div>

	</div>
	<div class="row">
		<label>Location</label>
		<input type="text" name="postLocation" required ng-model="currentPost.location">
	</div>
	<div>
		<button type="submit" ng-click="saveChange(currentPost)">Submit</button>
	</div>

</form>