<% if !current_user %>

<div class="row">
	<div class="large-12 columns" id="aboutpage">

	<%= render :partial => 'users/newform',  :locals => { :@user => User.new } %>


	</div>

</div>

<% else %>
	<header>
		<h1>Welcome to Particifind!</h1>
	</header>
<% end %>

<div class="row"  ng-controller="postsController">
  	<div class="large-4 columns mainbody" id="leftnav">
  		**SEARCH OPTIONS
		**OPTIONS FOR FILTER
	</div>
  	
  	<div class="large-8 columns" ng-controller="postsController">
  		
 
			<article class="mainbody" ng-repeat="p in posts">
				<div id="date">date</div>
				<h4 class="studytitle">{{ p.title}}</h4><br/>
				<h2 class="title">Field:</h2>{{ p.field}}<br/>
				<h2 class="title">Study Description:</h2> {{ p.description}}<br/>
				<h2 class="title">Study Duration</h2>{{ p.begin_date}} to {{ p.end_date}}<br/>
				<h2 class="title">Participants Needed:</h2> {{ p.participants_wanted}}<br/>
				<h2 class="title">Criteria:</h2><br/>
				<h2 class="title">Gender:</h2> {{ p.gender}}<br/>
				
				<h2 class="title">Compensation:</h2> {{ p.compensation}}<br/>
				<h2 class="title">Study duration:</h2> {{ p.time_needed}}<br/>
				<h2 class="title">Posted:</h2> {{ p.created_at}}<br/>

				

			</article>
	
  </div>
</div>