// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_post{
	width: 80%;
	margin: 0 auto;
}

.homeDiv{
	background-color: rgba(0,0,0,0.05);

	
}


.userContainer{
	width: 95%;
	margin: 0 auto;
	
	overflow:auto;
}

#postDate{
	border: 1px solid black;
	width: 100px;
	height: 110px;
	float: right;

}
.postTitle{
	font-size: 2em;
}
.postText{
	font-size: 1em;
	color: #eca71c;
	font-weight: 800;
	display: inline;
}

.article{
	border-radius: 0.5em;
	padding: 2em;
	margin-bottom: 1em;
}

#userInfo {
	border-radius: 0.5em;
	padding: 2em;
	height: 300px;
}
